.formControl label {
    display: block;
    font-weight: bold; 
    font-size: 24px;
}
.formControl input {
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #eaeaea;
    margin: 10px 0 0 0;
}

.description {
    font-size: 12px;
    color: #535353;
    font-style: italic;
}

.btn {
    background: #53caff;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0;
    border: none;
}

.btn:hover {
    box-shadow: 2px 2px 2px #535353;
    cursor: pointer;
}